<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Stories</th>
            </tr>
            </thead>
            <tbody>
            {{#each epics}}
                <tr>
                    <td><a href="{this.url">{{this.name}}</a></td>
                    <td>{{this.description}}</td>
                    <td><a href="/labels/{{this.label.name}}">Show stories</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>