<div class="jumbotron" style="margin-top: 10pt">
    <div class="container">
        <div class="row">
            <div class="col-md-2 myCentre">
                <div>
                    <img src="/images/android-chrome-512x512.png" width="150" style="margin-top: 25pt">
                </div>
            </div>
            <div class="col-md-10 myCentre">
                <div>
                    <h1>Sprint Runner</h1>
                    <p>Lightweight Agile planning tool.
                        Easy tracking of your epics, stories and sprints for multiple teams.
                        Combined with simple metrics and reports to keep the management happy ;)</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Kanban view</h2>
            <p>Display Kanban style views for each project, or all stories across mutliple projects.</p>
            {{#each teams}}
                <li><a href="/kanban/{{encode this.name}}">{{this.name}}</a></li>
            {{/each}}
        </div>
        <div class="col-md-4">
            <h2>Label view</h2>
            <p>View stories based on labels</p>
            <ul>
                {{#each defaultLabels}}
                    <li><a href="/labels/{{this}}">{{this}}</a></li>
                {{/each}}
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Roadmap view</h2>
            <p>View the epics assigned to a milestone label</p>
            <ul>
                <li><a href="/roadmap">Roadmap</a></li>
            </ul>
        </div>
    </div>

    <hr>
