<div class="container">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-center" data-theme="dark">
                <img src="/images/android-chrome-512x512.png" width="150" style="margin-top: 25pt">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4  center-block">
            <h1 class="text-center">
                <b>SprintRunner</b>
            </h1>
            <p class="text-center">Agile project management</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-center" data-theme="dark">
                <a href="/auth/google"><img src="images/btn_google_signin_dark_normal_web.png"/></a>
            </div>
        </div>
    </div>
</div>
