<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {{#each projects}}
                <tr>
                    <td><a href="/stories/team/{{encode this.name}}">{{this.name}}</a></td>
                    <td>{{this.description}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>