.normal-page {
    padding-top: 70px;
}

.index-page {
    padding-top: 0px;
}

.kanban-column {
    border-style: none dotted none dotted;
    border-width: 1px;
    border-color:   #004444;
    background-color: aliceblue;

}

.persona-column {
    border: 1px dotted #004444;
    background-color: aliceblue;
}

.kanban-card {
    border: 1px solid gray;
    padding: 0 ;
}



fieldset:disabled .form-control { background-color:#ffFFFF;cursor: auto; color: #000000 }
fieldset .form-control { background-color: #e2f1ef;cursor: auto }


