.normal-page {
    padding-top: 70px;
}

.index-page {
    padding-top: 0px;
}

.kanban-column {
    border-style: none dotted none dotted;
    border-width: 1px;
    border-color:   #004444;
    background-color: ghostwhite;
}

.kanban-card {
    border: 1px solid gray;
    padding: 0 ;
}

.panel-group {
}

.panel > .panel-title {
}


.panel > .panel-body {
    padding: 5px;
}

.panel > .panel-heading {
    padding: 5px;
    font-weight: bold;
    color: black;
}

.panel > .panel-footer {
}

.panel > .panel-footer > p {
    margin: 0 0 0 0;
    padding-left: 5px;
}
