

<form action="/personas/add" enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>Add Persona</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputName" class="col-2 col-form-label">Name</label>
                    <div class="col-12">
                        <input class="form-control" type="text" name="name" id="name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDetails">Details</label>
                    <textarea class="form-control" id="details" name="details" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="inputGoal">Goal</label>
                    <textarea class="form-control" id="goal" name="goal" rows="5"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <br>
                <figure class="thumbnail" style="padding-top: 10px;">
                    <img id="avatarPreview" class="img-responsive" style="max-height: 200px; max-width: 200px"
                         src="/images/default-avatar.jpg"/>
                    <figcaption class="text-center">
                        <label for="avatar">Avatar</label>
                        <input type="file" id="avatar" class="form-control" name="avatar"
                               style="padding-bottom: 10px; min-height: 50px">
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <button type="submit" class="btn btn-primary">Add Persona</button>
        </div>
    </div>
</form>
