<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3 class="">Epics</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table id="epicTable" class="table display">
        </table>
    </div>

</div>


<script>

    $(document).ready(function () {

        var table = $('#epicTable').DataTable({
            rowReorder: {
                dataSrc: 'theorder'
            },
            scrollY: 500,
            paging: false,
            ajax: {
                "url": "/epics/json",
                "type": "GET",
                "dataSrc": ""
            },
            columns: [ {
                data: 'theorder',
                title: 'Id'
            }, {
                data: 'title',
                title: 'Title'
            }, {
                data: 'description',
                title: 'Description'
            } ]
        });

        table.on('row-reorder', function (e, diff, edit) {
            var from = edit.triggerRow.data().theorder;
            var fromId = edit.triggerRow.data().id;
            var to = null;
            console.log("from: " + from + " id: " + fromId);

            for (var i = 0, ien = diff.length; i < ien; i++) {
                var rowData = table.row(diff[ i ].node).data();

                if (rowData.theorder == from) {
                    to = table.row(diff[ i ].newPosition).data().theorder;
                }
            }

            cursor_wait();
            $.ajax({
                type: "PATCH",
                url: '/epics/' + from + '/' + fromId + '/' + to,
                data: {},
                success: function (result) {
                    console.log("success:" + result);
                    remove_cursor_wait();
                },
                error: function (error) {
                    remove_cursor_wait();
                    alert('Unable to move rows - please refresh page');
                }
            });

        });

    });

</script>

<script src="/js/page-utils.js"></script>

